<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}MachExpert - ERP система{% endblock %}</title>
    {% block extra_css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
    <style>
        .navbar-brand { font-weight: bold; }
        .user-welcome { color: #ffa; margin-right: 20px; }
        .nav-link {
            cursor: pointer;
            background: none;
            border: none;
            color: yellow;
        }
        .fixed-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">🏭 MachExpert</a>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="{% url 'employees_list' %}">Сотрудники</a>
                {% if user.is_authenticated %}
                    {# <span class="navbar-text me-3">Привет, {{ user.get_full_name }}!</span> #}
                    <span class="user-welcome">Привет, {{ user.username }}!</span>
                    <form method="post" action="{% url 'logout' %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="nav-link">
                            🚪 Выход
                        </button>
                    </form>
                {% else %}
                     <a class="nav-link" href="{% url 'login' %}">🔐 Вход</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- Основной контент -->
    <main  class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Подвал -->
    <footer class="fixed-footer mt-5 py-3 bg-light">
        <div class="container text-center">
            <small class="text-muted">ERP система машиностроительного предприятия</small>
        </div>
    </footer>
</body>
</html>